<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'fastapi_table/style.css' %}">
    </head>
    <body>
        {% include "fastapi_table/page_header.html" %}
        <div class="main-body">
            <div class="page_name">
                <h2>Domain/Ip details</h2>
            </div>
            <br>
            {% include "fastapi_table/form_tabs.html" %}
            <br>
            {% if json %}
                <p>Hover mouse over header fields to see descriptions</p>
                <h4 class="table-header">domain_ip table values</h4>
                <div class="table_container">
                    <table>
                        <thead>
                            <tr>
                                <th class="CellWithComment">object_id
                                <span class="CellComment">The domain name or ip address</span>
                            </th>
                            <th class="CellWithComment">object_type
                                <span class="CellComment">Whether the object_id is a domain or ip address</span>
                            </th>
                            <th class="CellWithComment">object_last_updated
                                <span class="CellComment">When these values were last updated in VirusTotal's records</span>
                            </th>
                            <th class="CellWithComment">score
                                <span class="CellComment">No. of VT antiviruses that deemed object suspicious</span>
                            </th>
                            <th class="CellWithComment">severity
                                <span class="CellComment">Danger level of the object. Based on score.</span>
                            </th>
                            <th class="CellWithComment">comm_count
                                <span class="CellComment">No. of communicating files associated with the object_id</span>
                            </th>
                            <th class="CellWithComment">ref_count
                                <span class="CellComment">No. of referrer files associated with the object id</span>
                            </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for value in json.values %}
                                    <td class="{% if value == 'low' %}severity-low{% endif %}{% if value == 'medium' %}severity-medium{% endif %}{% if value == 'high' %}severity-high{% endif %}">{{value}}</td>
                                {% endfor %} 
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% if ref_files %}
                <h4 class="table-header">referrer_files table values</h4>
                <div class="table_container">
                    <table>
                        <thead>
                            <tr>
                                <th class="CellWithComment">ref_file_id
                                    <span class="CellComment">SHA256 hash of the referrer file</span>
                                </th>
                                <th class="CellWithComment">ref_file_name
                                    <span class="CellComment">Given name of the referrer file</span>
                                </th>
                                <th class="CellWithComment">related_object_id
                                    <span class="CellComment">ID of the object this referrer file is related to</span>
                                </th>
                                <th class="CellWithComment">date_scanned
                                    <span class="CellComment">Date of when VirusTotal scanned this referrer file</span>
                                </th>
                                <th class="CellWithComment">detection_score
                                    <span class="CellComment">No. of VT antiviruses that deemed object suspicious</span>
                                </th>
                                <th class="CellWithComment">severity
                                    <span class="CellComment">Danger level of object</span>
                                </th>
                                <th class="CellWithComment">ref_file_type
                                    <span class="CellComment">Type of file</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dicts in ref_files %}
                            <tr>
                                {% for key, value in dicts.items %}
                                    <td class="{% if value == 'low' %}severity-low{% endif %}{% if value == 'medium' %}severity-medium{% endif %}{% if value == 'high' %}severity-high{% endif %}">
                                        {% if key == "ref_file_id" %}
                                            <a href="/fastapi_table/files/{{value}}">{{value}}</a>
                                        {% else %}
                                            {{value}}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
                {% if comm_files %}
                <h4 class="table-header">communicating_files table values</h4>
                <div class="table_container">
                    <table>
                        <thead>
                            <tr>
                                <th class="CellWithComment">comm_file_id
                                    <span class="CellComment">SHA256 hash of the communicating file</span>
                                </th>
                                <th class="CellWithComment">comm_file_name
                                    <span class="CellComment">Given name of the communicating file</span>
                                </th>
                                <th class="CellWithComment">related_object_id
                                    <span class="CellComment">ID of the object this communicating file is related to</span>
                                </th>
                                <th class="CellWithComment">date_scanned
                                    <span class="CellComment">Date of when VirusTotal scanned this communicating file</span>
                                </th>
                                <th class="CellWithComment">detection_score
                                    <span class="CellComment">No. of VT antiviruses that deemed object suspicious</span>
                                </th>
                                <th class="CellWithComment">severity
                                    <span class="CellComment">Danger level of the object</span>
                                </th>
                                <th class="CellWithComment">comm_file_type
                                    <span class="CellComment">Type of file</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dicts in comm_files %}
                            <tr>
                                {% for key, value in dicts.items %}
                                    <td class="{% if value == 'low' %}severity-low{% endif %}{% if value == 'medium' %}severity-medium{% endif %}{% if value == 'high' %}severity-high{% endif %}">
                                        {% if key == "comm_file_id" %}
                                            <a href="/fastapi_table/files/{{value}}">{{value}}</a>
                                        {% else %}
                                            {{value}}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            {% else %}
                <p>value not found</p>
            {% endif %}
        </div>
    </body>
</html>