<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'fastapi_table/style.css' %}">
    </head>
    <body>
        {% include "fastapi_table/page_header.html" %}
        <div class="main-body">
            <div class="page_name">
                <h2>Files details</h2>
            </div>
            <br>
            {% include "fastapi_table/form_tabs.html" %}
            <script>
                document.getElementById("fileOpen").click();
            </script>
            <br>
            {% if json %}
                <p>Hover mouse over header fields to see descriptions</p>
                <h4 class="table-header">files table values</h4>
                <div class="table_container">
                    <table>
                        <thead>
                            <tr>
                                <th title="The SHA256 hash of the file">file_id</th>
                                <th title="Given name of the file">file_name</th>
                                <th title="Date of when VirusTotal scanned this file">file_date_scanned</th>
                                <th title="Total number of partnered VirusTotal AntiViruses that found the object suspicious">score</th>
                                <th title="Danger level of the object. Based on score value">severity</th>
                                <th title="No. of execution parents associated with the file">exec_parent_count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for value in json.values %}
                                    <td class="{% if value == 'low' %}severity-low{% endif %}{% if value == 'medium' %}severity-medium{% endif %}{% if value == 'high' %}severity-high{% endif %}">
                                        {{value}}
                                    </td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <br>
                {% if exec_parent %}
                <h4 class="table-header">execution_parents table values</h4>
                <div class="table_container">
                    <table>
                        <thead>
                            <tr>
                                <th title="The SHA256 hash of the execution parent">parent_id</th>
                                <th title="SHA256 hash of the file this execution parent file is related to">related_file_id</th>
                                <th title="Date of when VirusTotal scanned this file">exec_date_scanned</th>
                                <th title="Total number of partnered VirusTotal AntiViruses that found the object suspicious">detection_score</th>
                                <th title="Danger level of the object. Based on score value">severity</th>
                                <th title="Type of file">parent_type</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dicts in exec_parent %}
                            <tr>
                                {% for key, value in dicts.items %}
                                    <td class="{% if value == 'low' %}severity-low{% endif %}{% if value == 'medium' %}severity-medium{% endif %}{% if value == 'high' %}severity-high{% endif %}">
                                        {% if key == "parent_id" %}
                                            <a href="/fastapi_table/files/{{value}}">{{value}}</a>
                                        {% else %}
                                            {{value}}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            {% else %}
                <p>value not found</p>
            {% endif %}
        </div>
    </body>
</html>