<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'fastapi_table/style.css' %}">
    </head>
    <body>
        {% include "fastapi_table/page_header.html" %}
        <h2>Search for file entries</h2>
        <form action="/fastapi_table/files_get/" method="get">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
        <br>
        <h3>List of searched files:</h3>
        <table>
            <tr>
                <th>file_id</th>
                <th>file_name</th>
                <th>file_date_scanned</th>
                <th>score</th>
                <th>severity</th>
                <th>exec_parent_count</th>
            </tr>
            {% for entries in files_list %}
                <tr>
                    <td><a href="/fastapi_table/files/{{ entries.file_id }}">{{ entries.file_id }}</a></td>
                    <td>{{ entries.file_name }}</td>
                    <td>{{ entries.file_date_scanned }}</td>
                    <td>{{ entries.score }}</td>
                    <td>{{ entries.severity }}</td>
                    <td>{{ entries.exec_parent_count }}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>