<!DOCTYPE html>
<html>
    <head>
        <style>
            table, th, td {
            border: 1px solid black;
            }
            .table_container {
                border: 1px solid black;
                height: auto;
                max-height: 500px;
                overflow-x: auto;
            }
            table {
                width: 100%
            }
            th, td {
                font-size: 15px;
            }
        </style>
    </head>
    <body>
        <h2>Files page</h2>

        <a href="/fastapi_table/domain_ip/">Search for Domain/Ip</a>
        <br>
        <form action="/fastapi_table/files_get/" method="get">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
        <br>
        {% if json %}
            <h3>files table values</h3>
            <table>
                <tr>
                    {% for key in json.keys %}
                        <th>{{key}}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for value in json.values %}
                        <td>{{value}}</td>
                    {% endfor %}
                </tr>
            </table>
            <br>
            <br>
            <h3>execution_parents table values</h3>
            <div class="table_container">
                <table>
                    <tr>
                        <th>parent_id</th>
                        <th>related_file_id</th>
                        <th>exec_date_scanned</th>
                        <th>detection_score</th>
                        <th>severity</th>
                        <th>parent_type</th>
                    </tr>
                    {% for dicts in exec_parent %}
                        <tr>
                            {% for key, value in dicts.items %}
                                <td>{{value}}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <p>value not found</p>
        {% endif %}
    </body>
</html>