div.main-body{
  margin: 20px;
}
div.page_name{
  text-align: center;
}
.table-header{
  margin-bottom: 15px;
}


/* Table CSS */
table, th, td {
  border: 1px solid #3b3b3b;
  }
.table_container {
  height: auto;
  max-height: 500px;
  overflow-x: auto;
}
.table_container thead th {
  position: sticky;
  top: 0;
}

table {
  width: 100%
}
th, td {
  font-size: 13px;
}
th {
  background-color: #3b3b3b;
  color: white;
  padding: 8px 5px;
}
td {
  background-color: rgb(233, 233, 233);
}
.severity-low {
  background-color: rgb(195, 247, 195);
}
.severity-medium {
  background-color: rgb(255, 255, 175);
}
.severity-high {
  background-color: rgb(255, 215, 222);
}

/* Page Header CSS */
.header {
  overflow: hidden;
  background-color: #3b3b3b;
  padding: 10px 10px;
}
.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  transition: 0.3s;
}  
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}
.header a:hover {
  background-color: #ddd;
  color: black;
} 
.header a.active {
  background-color: dodgerblue;
  color: white;
}
.header-admin{
  float: right;
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
  .header-admin{
    float: none;
  }
}


/* Tab CSS */
/* Style the tab */
.tab {
  overflow: hidden;
  /*border: 2px solid #3b3b3b;*/
  background-color: #3b3b3b;
}
/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: 2px solid #3b3b3b;
  border-bottom: none;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
  transition: 0.3s;
  color: white;
  border-radius: 8px 8px 0px 0px;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: white;
  color: black;
}
/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(233, 233, 233);
  color: black;
}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  /*border: 2px solid #3b3b3b;*/
  border: 2px solid #3b3b3b;
  border-top: none;
  background-color: rgb(233, 233, 233);
}
.tab-form {
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.form_desc {
  margin: 10px;
}